*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
test_recordings/
rec_google_profile_pic.*
.agents/mcp_config.json
